.calculator.container {
  margin-top: 32px;
}

.user-input {
  line-height: 48px;
}

.progress {
  margin: 0;
  height: 37px;
  border-radius: 0;
}

.progress-bar {
  font-size: 16px;
  line-height: 37px;
  box-shadow: 8px 0px rgb(255, 105, 105);
}

.slider-selection {
  background: #BABABA;
}
