!!!
%html
  %head
    %title TrailCharger Calculator
    %meta{:charset => "utf-8"}/
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    / jQuery
    %script{:src => "./js/jquery-1.11.0.min.js"}
    / Latest compiled and minified CSS
    %link{:href => "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", :rel => "stylesheet"}/
    / Optional theme
    %link{:href => "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css", :rel => "stylesheet"}/
    / Latest compiled and minified JavaScript
    %script{:src => "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}
    / Bootstrap Slider
    %link{:href => "./css/bootstrap-slider.css", :rel => "stylesheet"}/
    %script{:src => "./js/bootstrap-slider.js"}
    / Bootstrap Switch
    %link{:href => "./css/bootstrap-switch.min.css", :rel => "stylesheet"}/
    %script{:src => "./js/bootstrap-switch.min.js"}
    / Custom style
    %link{:href => "./css/style.css", :rel => "stylesheet"}/
    <script type='text/javascript' src="./js/modernizr.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

  %body
    %header

    .calculator.container
      .user-inputs.row
        .col-xs-12.text-right

          .user-input
            Daily Operation Time:
            %input#daily-op-time.slider{data: {bind: "value: dailyOperationTime, valueUpdate: 'input'", slider_value: 8, slider_min: 1, slider_max: 10, slider_step: 1}, type: "text"}

          .user-input
            Seconds Per Lift:
            %input#seconds-per-lift.slider{data: {bind: "value: secondsPerLift, valueUpdate: 'input'", slider_value: 20, slider_min: 1, slider_max: 40, slider_step: 1}, type: "text"}

          .user-input
            Amps Per Lift:
            %input#amps-per-lift.slider{data: {bind: "value: ampsPerLift, valueUpdate: 'input'", slider_value: 200, slider_min: 100, slider_max: 300, slider_step: 5}, type: "text"}

          .user-input
            TC Amps:
            %input#tc-amps{data: {bind: "value: tcAmps, valueUpdate: 'input'"}, type: "checkbox", name: "ampCheckbox"}

      .results-container.row
        .results-table-container.col-sm-6.col-xs-12
          %table.table.table-striped.table-hover
            %thead
              %th Daily Operation Time
              %th % of Daily Operation With Engine Running
              %th Hours Engine is Running
              %th
                %span{:data => {bind: "text: tcAmps"}}
                AMP
                TC Amps
              %th Max Amps Available
            %tbody{:data => {bind: "foreach: results"}}
              %tr
                %td
                  %span{:data => {bind: "text: $parent.dailyOperationTime"}}
                %td
                  %span{:data => {bind: "text: engineDailyOperationPercent"}}
                  %span %
                %td
                  %span{:data => {bind: "text: hoursEngineIsRunning()"}}
                %td
                  %span{:data => {bind: "text: $parent.tcAmps()"}}
                %td
                  %span{:data => {bind: "text: maxAmps"}}
        .results-visual-container.col-sm-6.col-xs-12
          %h3 Maximum Number of Lifts
          .results{:data => {bind: "foreach: results"}}
            .row
              .col-xs-12
                .progress
                  .progress-bar.progress-bar-success{data: {bind: "style {width: percentageTcOnly() + '%'}"}}
                    %span{data: {bind: "text: Math.round(numberOfLiftsTcOnly())"}} 
                  .progress-bar.progress-bar-warning{data: {bind: "style {width: percentage30Extra() + '%'}"}}
                    %span{data: {bind: "text: Math.round(numberOfLifts30Extra())"}} 
                  .progress-bar.progress-bar-danger{data: {bind: "style {width: percentage50Extra() + '%'}"}}
                    %span{data: {bind: "text: Math.round(numberOfLifts50Extra())"}} 



    %footer


    %script{:src => "./js/knockout-3.1.0.js"}
    %script{:src => "./js/tc-calculator.js"}
